@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);
$transparent-white: hsla(0, 0%, 100%, 0.60); //paragraph//
$very-light-gray: hsl(0, 0%, 95%); //background, headings, buttons//

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    min-height: 100%;
    background-color: $very-light-gray;

    main {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 20px;

        .card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: 306px;
            height: 500px;
            padding: 50px;

            img {

            }

            h1 {
                font-family: "Big Shoulders Display", sans-serif;
                color: $very-light-gray;
                text-transform: uppercase;
                font-size: 2.5rem;
                font-weight: 700;
            }

            p {
                position: relative;
                bottom: 30px;
                color: $transparent-white;
                line-height: 1.6rem;
            }

            a {
                background-color: white;
                text-decoration: none;
                width: 140px;
                height: 50px;
                border: 2px solid white;
                border-radius: 25px;
                text-align: center;
                padding-top: 13px;
            }

            a:hover {
                background-color: transparent;
                color: $very-light-gray;
            }
        }

        .card-1 {
            background-color: $bright-orange;
            border-radius: 10px 0 0 10px;

            a {
                color: $bright-orange;
            }
        }

        .card-2 {
            background-color: $dark-cyan;

            a {
                color: $dark-cyan;
            }
        }

        .card-3 {
            background-color: $very-dark-cyan;
            border-radius: 0 10px 10px 0;
            
            a {
                color: $very-dark-cyan;
            }
        }
    }
}

.attribution {
    font-size: 11px; text-align: center;

    a {
        color: hsl(228, 45%, 44%);
    }
}

@media only screen and (max-width: 956px) {
    body {
        main {
            .card-2 {
                border-radius: 0 10px 10px 0;
            }
        
            .card-3 {
                border-radius: 10px;
            }
        }
    }
}

@media only screen and (max-width: 668px) {
    body {
        main {
            .card-1 {
                border-radius: 10px 10px 0 0;
            }
            .card-2 {
                border-radius: 0;
            }
        
            .card-3 {
                border-radius: 0 0 10px 10px;
            }
        }
    }
}